*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.carousel-indicators{
    margin-right: 40%;
}
/* .carousel-container1 {
    position: relative;
    width: 70%;
    margin: 4% 16%;
} */
.carousel-container2{
    position: relative;
    width: 70%;
    margin: 5% 23%;
}